
<%= form_tag search_site_crawlers_path, method: :post do %>
    <%= prompt_text 'Insert Site' %>
    <%= text_field_tag :site_name%>

    <%= submit_tag 'Send', id: 'test' %>

<% end %>
<br><br>

<div id="progress" style="width: 600px; height: 500px;">

</div>

<!--<script type="text/javascript">
    jQuery('#test').click(function() {
        setTimeout(function() {
            var source = new EventSource('/crawlers/search_site');

            function eventLogger(event){
                $("#progress").prepend(event.data + "<br>");

                if (event.data == 'stream_end') { source.close() };
            }

            source.onmessage = eventLogger;
        }, 10);
    });
</script>-->
