<!DOCTYPE html>
<html>
<head>
  <title>SiteResume</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script>
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
          if (window.console && window.console.log) {
             /*window.console.log(message);*/
          }
      };

      var pusher = new Pusher('bf3efe4f2a538719f902');
      var channel = pusher.subscribe('test_channel');
      var object_counter = {};
      channel.bind('my_event', function(data) {
          var object = data.message;

          for (var global_key in object_counter) {
              for( var object_key in object ) {
                  if(global_key==object_key) {
                      object_counter[global_key] += object[object_key];
                      delete object[object_key];
                  }
              }
          }

          _.extend(object_counter, object);
          var array=[];
          for(a in object_counter){
              array.push([a,object_counter[a]])
          }
          array.sort(function(a,b){return a[1] - b[1]});
          array.reverse();
          array = array.slice(0,10);
          console.log(array);

          $("#progress").html('');
          for(var i = array.length-1; i >= 0; i--)
          {
              $("#progress").prepend( " Cuvântul " + i+1 + ": " + array[i][0] + "<br>");
          }
      });

  </script>

</head>
<body>

    <h3>Site resume</h3>

<%= yield %>

</body>
</html>
